---
import { Image } from "@astrojs/image/components";
import config from "@config/config.json";
const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a href="/" class="navbar-brand block">
  {
    src || logo ? (
      <>
        <div style="display:flex;">
          <Image width={45} height={50} src={src ? src : logo} alt={title} />
          <div style="position:relative; top:15px; font-size: 35px; margin-left: 5px; ">
            <p>SIMITRA</p>
          </div>
        </div>
      </>
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>
